@charset "utf-8";

/*-------------------------------------------------------------------------------------------
1.0 - HTML
2.0 - Form
3.0 - Footer
-----------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------
1.0 - HTML
-----------------------------------------------------------------------------------*/

html {
    max-width: 1300px;
    margin: 0 auto;
}


body {
    background:linear-gradient(90deg, #D9E5FF 0%, #D9E5FF 10%,
    white 10%,white 90%, #D9E5FF 90%, #D9E5FF 100%)
}

body,p {
    padding: 0;
    margin: 0;
}


/*--------------------------------------------------------------------------------------
2.0 - Header
-----------------------------------------------------------------------------------*/
.header {
    width: 900px;
    text-align: center;
    margin: 50px auto 100px;
    padding: 0 130px;
    box-sizing: border-box;
    }

#what_is_minju a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    font-family: 'Mongolian Baiti',sans-serif;
}

#main {
    width: 50%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
}

#conf-p {
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto 10%;
    text-align: left;
}

#form-box {
    width: 70%;
    margin: 0 auto;
    font-family: 'Sitka Banner',sans-serif;
}

.form-list {
    margin-bottom: 5%;
}

.form-item {
    font-size: 1.3rem;
}

.input-item {
    border-bottom: dotted 2px gray;
}

#msg {
    margin-bottom: 2%;
}

#input-msg {
    border: solid 1px gray;
}

#msg-bottom {
    margin-bottom: 5%;
}

#button-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
}

#btn-left {
    margin-right: 10%;
}

.btn {
    border: none;
    font-size: 1rem;
    width: 60px;
    padding: 10%;
    background-color: rgb(65, 64, 64);
    color: white;
    border-radius: 5px;
    cursor : pointer;
}

footer {
    width: 100%;
    text-align: center;
}

#footer-p {
    font-size: 0.8rem;
}