@charset "utf-8";

/*-------------------------------------------------------------------------------------------
1.0 - HTML
2.0 - Header
3.0 - Main
4.0 - Footer
-----------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------
1.0 - HTML
-----------------------------------------------------------------------------------*/

html {
    max-width: 1300px;
    margin: 0 auto;
}


body {
    background:linear-gradient(90deg, #D9E5FF 0%, #D9E5FF 10%,
    white 10%,white 90%, #D9E5FF 90%, #D9E5FF 100%)
}

body,p,ul,li {
    padding: 0;
    margin: 0;
}


/*--------------------------------------------------------------------------------------
2.0 - Header
-----------------------------------------------------------------------------------*/
.header {
    width: 900px;
    text-align: center;
    margin: 50px auto 100px;
    padding: 0 130px;
    box-sizing: border-box;
    }

#what_is_minju a {
    font-size: 2rem;
    color: black;
    text-decoration: none;
    font-family: 'Mongolian Baiti',sans-serif;
}

.header_nav {
    margin: 20px 10px;
    overflow: visible;
    justify-content: space-around;
    display: flex;
}    
   
.icon a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    background-color: black;
    font-family: 'Sitka Banner',sans-serif;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    line-height: 70px;
    display: inline-block;
    overflow: visible;
    text-align: center;
    margin-top: 15px;
}
    
.icon a:hover {
    opacity: 0.8;
}
    
.icon_now {
    font-size: 1rem;
    border: solid #000000 1.5px;
    color: black;
    background-color: white;
    font-family: 'Sitka Banner',sans-serif;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    line-height: 85px;
    text-align: center;
    overflow: visible;
    display: inline-block;
}  


/*--------------------------------------------------------------------------------------
2.0 - Main
-----------------------------------------------------------------------------------*/

        
.main {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.name_box {
    width: 400px;
    margin: 0 auto 30px;
}

.name_tag {
    width: 50px;
}

.mail_box {
    width: 500px;
    margin: 0 auto 30px;
    padding-left: 5px;
    box-sizing: border-box;
}

.msg_box {
    position: relative;
    width: 500px;
    margin: 0 auto 50px;
    padding-left: 210px;
}

.msg {
    position: absolute;
    top: 0;
    left: 210px;
}

.msg02 {
    width: 300px;
    resize: vertical;
    max-height: 500px;
    min-height: 200px;
}

#button {
    cursor : pointer;
}